@page "{id:int?}"
@model SacramentProgramBuilder.Pages.SacramentPrograms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SacramentProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ProgramDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ProgramDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.PresidingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.PresidingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ConductingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ConductingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OpeningPrayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OpeningPrayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OpeningHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OpeningHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OpeningHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OpeningHymnNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SacramentHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SacramentHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SacramentHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SacramentHymnNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SpeakerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SpeakerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SpeakerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SpeakerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SpecialMusicalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SpecialMusicalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.IntermediateHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.IntermediateHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.IntermediateHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.IntermediateHymnNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ClosingPrayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ClosingPrayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ClosingHymnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ClosingHymnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ClosingHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ClosingHymnNum)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SacramentProgram.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
