@page "{id:int?}"
@model SacramentProgramBuilder.Pages.SacramentPrograms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Meeting Program</h1>

<h3>Are you sure you want to delete this program?</h3>
<div class="border rounded bg-white bg-opacity-75 p-4">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 border border-dark rounded p-4 opacity-90 mb-3">
            <div class="text-center">
                <h4>
                    Sacrament Program <br />
                    <span class="fs-5">@Html.DisplayFor(model => model.SacramentProgram.ProgramDate)</span>
                </h4>
            </div>
            <hr />
            <div class="d-flex justify-content-between fw-semibold my-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.PresidingName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.PresidingName)</div>
            </div>
            <div class="d-flex justify-content-between fw-semibold my-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.ConductingName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.ConductingName)</div>
            </div>

            <div class="d-flex justify-content-between fw-semibold my-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.OpeningPrayerName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.OpeningPrayerName)</div>
            </div>

            <div class="d-flex justify-content-between fw-semibold mt-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.OpeningHymnName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">
                    @Html.DisplayNameFor(model => model.SacramentProgram.OpeningHymnNum)
                    @Html.DisplayFor(model => model.SacramentProgram.OpeningHymnNum)
                </div>
            </div>

            <div class="text-center fst-italic hymn-margin">"@Html.DisplayFor(model => model.SacramentProgram.OpeningHymnName)"</div>

            <div class="d-flex justify-content-between fw-semibold mt-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.SacramentHymnName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">
                    @Html.DisplayNameFor(model => model.SacramentProgram.SacramentHymnNum)
                    @Html.DisplayFor(model => model.SacramentProgram.SacramentHymnNum)
                </div>
            </div>

            <div class="text-center fst-italic hymn-margin">"@Html.DisplayFor(model => model.SacramentProgram.SacramentHymnName)"</div>

            @if (Model.SacramentProgram.Speakers != null && Model.SacramentProgram.Speakers.Count > 0)
            {
                <div class="d-flex justify-content-between fw-semibold my-3">
                    <div class="pe-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[0].SpeakerType)</div>
                    <div class="border-b-dashed flex-grow-1"></div>
                    <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[0].Name)</div>
                </div>
            }

            @if (Model.SacramentProgram.SpecialMusicalNumber != null)
            {
                <div class="text-center fw-semibold my-3">
                    <div>@Html.DisplayNameFor(model => model.SacramentProgram.SpecialMusicalNumber)</div>
                    <div>@Html.DisplayFor(model => model.SacramentProgram.SpecialMusicalNumber)</div>
                </div>
            }

            @if (Model.SacramentProgram.Speakers != null && Model.SacramentProgram.Speakers.Count > 1)
            {
                <div class="d-flex justify-content-between fw-semibold my-3">
                    <div class="pe-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[1].SpeakerType)</div>
                    <div class="border-b-dashed flex-grow-1"></div>
                    <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[1].Name)</div>
                </div>
            }

            @if (Model.SacramentProgram.Speakers != null && Model.SacramentProgram.Speakers.Count > 2)
            {
                <div class="d-flex justify-content-between fw-semibold my-3">
                    <div class="pe-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[2].SpeakerType)</div>
                    <div class="border-b-dashed flex-grow-1"></div>
                    <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[2].Name)</div>
                </div>
            }

            @if (Model.SacramentProgram.IntermediateHymnName != null)
            {
                <div class="d-flex justify-content-between fw-semibold mt-3">
                    <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.IntermediateHymnName)</div>
                    <div class="border-b-dashed flex-grow-1"></div>
                    <div class="ps-1">
                        @Html.DisplayNameFor(model => model.SacramentProgram.IntermediateHymnNum)
                        @Html.DisplayFor(model => model.SacramentProgram.IntermediateHymnNum)
                    </div>
                </div>
                <div class="text-center fst-italic hymn-margin">"@Html.DisplayFor(model => model.SacramentProgram.IntermediateHymnName)"</div>
            }


            @if (Model.SacramentProgram.Speakers != null && Model.SacramentProgram.Speakers.Count > 3)
            {
                <div>
                    <div class="d-flex justify-content-center fw-semibold mt-3">
                        <div>Additional Speakers</div>
                    </div>

                    @for (int i = 3; i < Model.SacramentProgram.Speakers.Count; i++)
                    {
                        <div class="d-flex justify-content-between fw-semibold mt-1 mb-3">
                            <div class="pe-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[i].SpeakerType)</div>
                            <div class="border-b-dashed flex-grow-1"></div>
                            <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.Speakers[i].Name)</div>
                        </div>
                    }
                </div>
            }

            <div class="d-flex justify-content-between fw-semibold mt-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.ClosingHymnName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">
                    @Html.DisplayNameFor(model => model.SacramentProgram.ClosingHymnNum)
                    @Html.DisplayFor(model => model.SacramentProgram.ClosingHymnNum)
                </div>
            </div>

            <div class="text-center fst-italic hymn-margin">"@Html.DisplayFor(model => model.SacramentProgram.ClosingHymnName)"</div>

            <div class="d-flex justify-content-between fw-semibold my-3">
                <div class="pe-1">@Html.DisplayNameFor(model => model.SacramentProgram.ClosingPrayerName)</div>
                <div class="border-b-dashed flex-grow-1"></div>
                <div class="ps-1">@Html.DisplayFor(model => model.SacramentProgram.ClosingPrayerName)</div>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-page="./Index" class="btn btn-outline-secondary w-100">Cancel</a>
                    </div>
                    <div class="col-md-6 mt-2 mt-md-0">
                        <form method="post" class="w-100">
                            <input type="hidden" asp-for="SacramentProgram.Id" />
                            <button type="submit" class="btn btn-danger w-100">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

