@page
@model SacramentProgramBuilder.Pages.SacramentPrograms.IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="">Home</h1>
    <a asp-page="Create" class="btn btn-success fw-bold">+ Create New</a>
</div>
<hr />
<div class="row">
    @foreach (var item in Model.SacramentProgram)
    {
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card shadow pointer my-2">
                <div class="card-body">
                    <h4 class="card-title">
                        Program
                        <span class="fs-5">(@Html.DisplayFor(modelItem => item.ProgramDate))</span>
                    </h4>
                    <p class="card-text">
                        <div>
                            <span class="fw-bold">@Html.DisplayNameFor(model => model.SacramentProgram[0].PresidingName)</span>
                            &nbsp; @Html.DisplayFor(modelItem => item.PresidingName)
                        </div>
                        <div>
                            <span class="fw-bold">@Html.DisplayNameFor(model => model.SacramentProgram[0].ConductingName)</span>
                            &nbsp; @Html.DisplayFor(modelItem => item.ConductingName)
                        </div>
                    </p>
                    <div class="d-flex flex-column align-items-stretch">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-primary my-1">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
